<body>



    <div id="page1" style="display: block;">
        <!-- Logo-->
        <br>
        <div class="container">
            <header id="masthead" class="header-section site-header" role="banner">
                <div class="wraper">
                    <p id="logo" class="header-logo">
                        <a href="" rel="home">
                            <img class="rounded mx-auto d-block" height="80" width="80" src="http://127.0.0.1:8887/Layer%208.jpg"
                                 alt="Panonica"
                                 style="border: 0ch; height: auto;">
                        </a>
                    </p>
                </div>
            </header>
        </div>
        <!-- Header-->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Akcije</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Nasi Prozvodi
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">Proizvodi po sezonama</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Svi proizvodi</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="#">Prodavnica</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item position-absolute end-0 mx-3">
                            <a class="nav-link active" id="prelazak" href="#">Prelazak na prijavu</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!--Carousel-->
        <div id="carouselExampleIndicators" class="carousel slide shadow p-3 mb-5 bg-body rounded" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner" style="height: 500px;">
                <div class="carousel-item active">
                    <img src="http://127.0.0.1:8887/pexels-ponyo-sakana-4194390.jpg " class="d-block w-100" alt="picture1">

                </div>
                <div class="carousel-item">
                    <img src="http://127.0.0.1:8887/1M9A4436.jpg" class="d-block w-100" alt="picture2">
                </div>
                <div class="carousel-item">
                    <img src="http://127.0.0.1:8887/pexels-naim-benjelloun-1618921.jpg" class="d-block w-100" alt="picture3">
                </div>
                <div class="carousel-item">
                    <img src="http://127.0.0.1:8887/1M9A4536.jpg" class="d-block w-100" alt="picture4">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>
        <!--Info-->
        <div class="container shadow p-3 mb-5 bg-body rounded">
            <div id="pg-507-2" class="panel-grid panel-has-style">
                <div class="siteorigin-panels-stretch panel-row-style panel-row-style-for-507-2" data-stretch-type="full" id="features" data-anchor="features" style="margin-left: -74.6px; margin-right: -74.6px; padding-left: 74.6px; padding-right: 74.6px; border-left: 0px; border-right: 0px, ;">
                    <div id="pgc-507-2-0" class="panel-grid-cell">
                        <div id="panel-507-2-0-0" class="so-panel widget widget_primrose-sow-feature panel-first-child panel-last-child" data-index="2">
                            <div class="so-widget-primrose-sow-feature so-widget-primrose-sow-feature-default-d75171398898-507">
                                <div class="primrose-sow-feature">
                                    <div class="primrose-sow-feature-icon"><img width="64" height="64" src="http://127.0.0.1:8887/Jednostavno-i-ukusno.png" class="attachment-full size-full" alt="" loading="lazy"></div>
                                    <h4 class="primrose-sow-feature-heading" style="color: #333333;">DOMACE &amp; UKUSNO!</h4>
                                    <div class="primrose-sow-feature-description">
                                        <p>
                                            Nasi proizovdi se prave rucno, po porodicnoj recepturi, sa puno ljubavi i paznje unetih u postupak proizvodnje. Biramo samo najbolje namirnice od odabranih gazdinstava iz nasih krajeva i vodimo se motom:
                                            lokalno, domace i ukusno!
                                        </p>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div><div id="pgc-507-2-1" class="panel-grid-cell">
                        <div id="panel-507-2-1-0" class="so-panel widget widget_primrose-sow-feature panel-first-child panel-last-child" data-index="3">
                            <div class="so-widget-primrose-sow-feature so-widget-primrose-sow-feature-default-d75171398898-507">
                                <div class="primrose-sow-feature">
                                    <div class="primrose-sow-feature-icon"><img width="64" height="64" src="http://127.0.0.1:8887/Sveze.png" class="attachment-full size-full" alt="" loading="lazy"></div>
                                    <h4 class="primrose-sow-feature-heading" style="color: #333333;">LOKALNO </h4>
                                    <div class="primrose-sow-feature-description">
                                        <p>Samo najsvezije povrce i voce ima privilegiju da se nadje u nasim proizvodima! Saradnja sa lokalnim malim proizvodjacima i gazdinstvima jedna je od glavnih ideja iza ovog projekta. Odatle i koncept da se svi proizvodi prave na nivou sezone u kojoj je glavna namirnica dostupna u nasim vrtovima i u oranicenim kolicinama. Takodje nasi proizvodi ne sadrze nikakve konzervanse, aditive ili vestacke boje, vec samo ono sto nam je priroda dala.  </p>
                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div><div id="pgc-507-2-2" class="panel-grid-cell">
                        <div id="panel-507-2-2-0" class="so-panel widget widget_primrose-sow-feature panel-first-child panel-last-child" data-index="4">
                            <div class="so-widget-primrose-sow-feature so-widget-primrose-sow-feature-default-d75171398898-507">
                                <div class="primrose-sow-feature">
                                    <div class="primrose-sow-feature-icon"><img width="64" height="64" src="http://127.0.0.1:8887/Cuvamo-prirodu.png" class="attachment-full size-full" alt="" loading="lazy"></div>
                                    <h4 class="primrose-sow-feature-heading" style="color: #333333;">ČUVAMO PRIRODU</h4>
                                    <div class="primrose-sow-feature-description">
                                        <p>Nasi proizvodi se isporučuju iskljucivo u staklenoj ambalaži koja čuva ukus i svojstva izvornih namirnica. Vratite flašu prilikom sledeće porudžbine i dobićete popust!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--Info2-->
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="http://127.0.0.1:8887/1M9A4582.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Sezonski</h5>
                                <p class="card-text">
                                    Kako bi ocuvali svezinu kao i glavnu ideju iza nase price, a to su mali lokalni proizvodjaci i proizvodi bez ikakvih aditiva, vecina stavki
                                    dostupna je samo u svojoj sezoni u ogranicenim kolicinama. Bar za sada!
                                </p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="http://127.0.0.1:8887/markus-spiske-vrbZVyX2k4I-unsplash.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Nasi prijatelji</h5>
                                <p class="card-text">
                                    Ono sto jesmo ne bi bili bez nasih dragih prijatelja od kojih nabavljamo namirnice za proizvode. Porodice Micic, Jankovic, Stojanovic kao i mnoge druge zajedno sa svojim
                                    gazdinstvima garantuju vam samo najbolje iz vojvodjanskih basta!
                                </p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="http://127.0.0.1:8887/1M9A4734.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Motivacija</h5>
                                <p class="card-text">
                                    Ono sto nas pokrece, pored teznje za kvalitetom je i zelja da vam prenesemo recepte osim onih tradicionalnih domacih, tako i nekih sakupljanih po kuhinjama
                                    sirom sveta.
                                </p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <!--Footer-->
        <footer id="wrap">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <h5 class="mb-3 text-dark">O nama</h5>
                        <p>
                            Od kada znamo za sebe nasi prijatelji jedva cekaju jesen, kako bi rezervisali nekoliko flasa
                            njihovog omiljenog sosa i soka od paradajza. 2020. odlucili smo na radost svih da nasu pricu podelimo sa svima.
                            Kuvar, marketar, dizajner i bankar odlucili su da se zajedno bace na posao i pokusaju da prenesu uzivanje i na vase trpeze.
                            Prijatno!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <h5 class="mb-3 text-dark">links</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">FAQ</a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">Classes</a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">Pricing</a>
                            </li>
                            <li>
                                <a href="#!" style="color: #4f4f4f;">Safety</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <h5 class="mb-1 text-dark">Radno vreme</h5>
                        <table class="table" style="border-color: #666;">
                            <tbody>
                                <tr>
                                    <td>Pon - Pet:</td>
                                    <td>8am - 9pm</td>
                                </tr>
                                <tr>
                                    <td>Sub - Ned:</td>
                                    <td>8am - 1am</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.267);">
                © 2022 Copyright:
                <a class="text-dark">Panonicafamily.com</a>
            </div>
        </footer>

        <br><br><br><br>
    </div>

    <!-------------------------------------------------------------------------------------------------------->

    <div id="page2" style="display: none;">


        <button>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</button>



        <!-- Logo-->
        <br>
        <div class="container" id="logoDiv" style="display:none">
            <header id="masthead" class="header-section site-header" role="banner">
                <div class="wraper">
                    <p id="logo" class="header-logo">
                        <a href="" rel="home">
                            <img class="rounded mx-auto d-block" height="80" width="80" src="http://127.0.0.1:8887/Layer%208.jpg"
                                 alt="Panonica"
                                 style="border: 0ch; height: auto;">
                        </a>
                    </p>
                </div>
            </header>
        </div>

        <!-- Header-->
        <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-black" id="navbarDiv" style="display:none">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="headerProducts" aria-current="page" href="#">Proizvodi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="headerPackages" href="#">Ambalaze</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ugovori</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <!--Login/Regster BTNs-->
        <div class="container" id="logRegDiv" style="display: block;">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card my-5 border border-white">
                        <form class="card-body cardbody-color p-lg-5">
                            <div class="text-center">
                                <img src="http://127.0.0.1:8887/Layer%208.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                     width="200px" alt="profile">
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="button" id="loginBtn" class="btn btn-success px-5 mb-5 w-40">Login</button>
                                <button type="button" id="registerBtn" class="btn btn-warning px-5 mb-5 w-40">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--LoginForm-->
        <div class="container" id="loginDiv" style="display:none;">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card my-5">
                        <form class="card-body p-lg-5" id="loginForm" style="background-color: #ebf2fa;">
                            <div class="text-center">
                                <img src="http://127.0.0.1:8887/Layer%208.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                     width="200px" alt="profile">
                            </div>
                            <h2 class="text-center text-dark mt-5">Login</h2>
                            <br>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="loginUsername" aria-describedby="emailHelp"
                                       placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success px-5 mb-5 w-40">Login</button>
                                <button type="button" id="cancelBtn" class="btn btn-danger px-5 mb-5 w-40">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--RegisterForm-->
        <div class="container" id="registerDiv" style="display:none;">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card my-5">
                        <form class="card-body p-lg-5" id="registerForm" style="background-color: #ebf2fa;">
                            <div class="text-center">
                                <img src="http://127.0.0.1:8887/Layer%208.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                     width="200px" alt="profile">
                            </div>
                            <h2 class="text-center text-dark mt-5">Register</h2>
                            <br>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="regUsername" aria-describedby="emailHelp"
                                       placeholder="Username">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="regPassword" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="regPasswordConfirm" placeholder="Password Confirm">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success px-5 mb-5 w-40">Register</button>
                                <button type="button" id="regCancelBtn" class="btn btn-danger px-5 mb-5 w-40">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--ProductDataDiv--> <!--U Reactu bi iskoristili ovaj element za sve tabele-->
        <div class="row" id="dataData" style="display:none">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" id="dataDiv">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <br />

        <!--PackagesDataDiv-->
        <div class="row" id="packagesDataData" style="display:none">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" id="packagesDataDiv">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <br />


        <!--AddProductForm-->
        <div class="row" id="addProductDiv">
            <div class="col-sm-3">
            </div>
            <div id="productAddDiv" class="col-sm-6" style="display:none;">
                <h4>Dodavanje novog proizvoda</h4>

                <form method="post" action="post/" id="productAddForm">
                    <div class="mb-3">
                        <label for="productPackaging" class="form-label">Ambalaza</label>
                        <select class="form-select form-select-sm" id="productPackaging"></select>
                    </div>
                    <div class="mb-3">
                        <label for="productSeason" class="form-label">Sezona</label>
                        <select class="form-select form-select-sm" id="productSeason"></select>
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Naziv proizvoda</label>
                        <input type="text" class="form-control" id="productName">
                    </div>
                    <div class="mb-3">
                        <label for="productDate" class="form-label">Datum proizvodnje</label>
                        <input type="date" class="form-control" id="productDate">
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Cena proizvoda</label>
                        <input type="number" class="form-control" id="productPrice">
                    </div>
                    <div class="mb-3">
                        <label for="productQuantity" class="form-label">Kolicina</label>
                        <input type="number" class="form-control" id="productQuantity">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-sm-3">
            </div>
        </div>


        <hr />
        <footer id="footerp2">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>


    </div>
















</body>